<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="" (click)="closeModal()"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>
                <div>
                    <h1 class="title">{{scorer.player.name}} <img src="{{scorer.team.crestUrl}}" alt="" width="61"
                                                                  height="61"></h1>
                </div>
            </ion-card-title>
            <ion-card-subtitle><h3>Nationalité : {{scorer.player.countryOfBirth}}</h3></ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <h4>Nombre de buts : {{scorer.numberOfGoals}} - Position : {{scorer.player.position}}</h4>
        </ion-card-content>
    </ion-card>

    <ion-progress-bar type="indeterminate" *ngIf="!lastFiveMatches"></ion-progress-bar>
    <ion-card *ngFor="let match of lastFiveMatches">
        <ion-card-header *ngIf="doTeamWin(match) === WIN" color="success">
            <ion-card-title *ngIf="match.score.homeTeam && match.score.awayTeam">
                <div class="score">
                    <img src="{{match.score.homeTeam.crestUrl}}" alt="" width="30" height="30">
                    <h4>
                        {{match.score.homeTeam.tla}} {{match.score.fullTime.homeTeam}} -
                        {{match.score.fullTime.awayTeam}} {{match.score.awayTeam.tla}}
                    </h4>
                    <img src="{{match.score.awayTeam.crestUrl}}" alt="" width="30" height="30">
                </div>
            </ion-card-title>
        </ion-card-header>

        <ion-card-header *ngIf="doTeamWin(match) === DRAW" color="warning">
            <ion-card-title *ngIf="match.score.homeTeam && match.score.awayTeam">
                <div class="score">
                    <img src="{{match.score.homeTeam.crestUrl}}" alt="" width="30" height="30">
                    <h4>
                        {{match.score.homeTeam.tla}} {{match.score.fullTime.homeTeam}} -
                        {{match.score.fullTime.awayTeam}} {{match.score.awayTeam.tla}}
                    </h4>
                    <img src="{{match.score.awayTeam.crestUrl}}" alt="" width="30" height="30">
                </div>
            </ion-card-title>
        </ion-card-header>

        <ion-card-header *ngIf="doTeamWin(match) === LOSE" color="danger">
            <ion-card-title *ngIf="match.score.homeTeam && match.score.awayTeam">
                <div class="score">
                    <img src="{{match.score.homeTeam.crestUrl}}" alt="" width="30" height="30">
                    <h4>
                        {{match.score.homeTeam.tla}} {{match.score.fullTime.homeTeam}} -
                        {{match.score.fullTime.awayTeam}} {{match.score.awayTeam.tla}}
                    </h4>
                    <img src="{{match.score.awayTeam.crestUrl}}" alt="" width="30" height="30">
                </div>
            </ion-card-title>
        </ion-card-header>
    </ion-card>

</ion-content>

