<ion-fab vertical="top" horizontal="end" slot="fixed" *ngIf="league === 2015">
    <ion-fab-button>
        <img src="../../assets/icon/iconLigue1.png" alt="" width="30" height="40">
    </ion-fab-button>
    <ion-fab-list>
        <ion-fab-button (click)="switchBpl()">
            <img src="../../assets/icon/iconBPL.png" alt="" width="30" height="30">
        </ion-fab-button>
        <ion-fab-button (click)="switchPrimeraDivison()">
            <img src="../../assets/icon/iconLiga.png" width="23" height="30" alt="">
        </ion-fab-button>
        <ion-fab-button (click)="switchBundesliga()">
            <img src="../../assets/icon/logoBundesliga.png" alt="" width="23" height="28">
        </ion-fab-button>
        <ion-fab-button (click)="switchSerieA()">
            <img src="../../assets/icon/iconSerieA.png" width="23" height="28" alt="">
        </ion-fab-button>
    </ion-fab-list>
</ion-fab>

<ion-fab vertical="top" horizontal="end" slot="fixed" *ngIf="league === 2021">
    <ion-fab-button>
        <img src="../../assets/icon/iconBPL.png" alt="" width="40" height="40">
    </ion-fab-button>
    <ion-fab-list>
        <ion-fab-button (click)="switchLigueOne()">
            <img src="../../assets/icon/iconLigue1.png" alt="" width="23" height="30">
        </ion-fab-button>
        <ion-fab-button (click)="switchPrimeraDivison()">
            <img src="../../assets/icon/iconLiga.png" width="25" height="30" alt="">
        </ion-fab-button>
        <ion-fab-button (click)="switchBundesliga()">
            <img src="../../assets/icon/logoBundesliga.png" alt="" width="23" height="28">
        </ion-fab-button>
        <ion-fab-button (click)="switchSerieA()">
            <img src="../../assets/icon/iconSerieA.png" width="23" height="28" alt="">
        </ion-fab-button>
    </ion-fab-list>
</ion-fab>

<ion-fab vertical="top" horizontal="end" slot="fixed" *ngIf="league === 2014">
    <ion-fab-button>
        <img src="../../assets/icon/iconLiga.png" alt="" width="30" height="40">
    </ion-fab-button>
    <ion-fab-list>
        <ion-fab-button (click)="switchLigueOne()">
            <img src="../../assets/icon/iconLigue1.png" alt="" width="23" height="30">
        </ion-fab-button>
        <ion-fab-button (click)="switchBpl()">
            <img src="../../assets/icon/iconBPL.png" width="25" height="30" alt="">
        </ion-fab-button>
        <ion-fab-button (click)="switchBundesliga()">
            <img src="../../assets/icon/logoBundesliga.png" alt="" width="23" height="28">
        </ion-fab-button>
        <ion-fab-button (click)="switchSerieA()">
            <img src="../../assets/icon/iconSerieA.png" width="23" height="28" alt="">
        </ion-fab-button>
    </ion-fab-list>
</ion-fab>

<ion-fab vertical="top" horizontal="end" slot="fixed" *ngIf="league === 2002">
    <ion-fab-button>
        <img src="../../assets/icon/logoBundesliga.png" alt="" width="30" height="40">
    </ion-fab-button>
    <ion-fab-list>
        <ion-fab-button (click)="switchLigueOne()">
            <img src="../../assets/icon/iconLigue1.png" alt="" width="23" height="30">
        </ion-fab-button>
        <ion-fab-button (click)="switchBpl()">
            <img src="../../assets/icon/iconBPL.png" width="25" height="30" alt="">
        </ion-fab-button>
        <ion-fab-button (click)="switchPrimeraDivison()">
            <img src="../../assets/icon/iconLiga.png" alt="" width="23" height="28">
        </ion-fab-button>
        <ion-fab-button (click)="switchSerieA()">
            <img src="../../assets/icon/iconSerieA.png" width="23" height="28" alt="">
        </ion-fab-button>
    </ion-fab-list>
</ion-fab>

<ion-fab vertical="top" horizontal="end" slot="fixed" *ngIf="league === 2019">
    <ion-fab-button>
        <img src="../../assets/icon/iconSerieA.png" alt="" width="30" height="40">
    </ion-fab-button>
    <ion-fab-list>
        <ion-fab-button (click)="switchBpl()">
            <img src="../../assets/icon/iconBPL.png" alt="" width="30" height="30">
        </ion-fab-button>
        <ion-fab-button (click)="switchPrimeraDivison()">
            <img src="../../assets/icon/iconLiga.png" width="23" height="30" alt="">
        </ion-fab-button>
        <ion-fab-button (click)="switchBundesliga()">
            <img src="../../assets/icon/logoBundesliga.png" alt="" width="23" height="28">
        </ion-fab-button>
        <ion-fab-button (click)="switchLigueOne()">
            <img src="../../assets/icon/iconLigue1.png" width="23" height="28" alt="">
        </ion-fab-button>
    </ion-fab-list>
</ion-fab>
