<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="rank">
            <ion-icon name="stats-chart-outline"></ion-icon>
            <ion-label>Rank</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="matches">
            <ion-icon name="receipt-outline"></ion-icon>
            <ion-label>Matchs</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="scorers">
            <ion-icon name="football-outline"></ion-icon>
            <ion-label>Scorers</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>
